{% extends "base.html" %}
{% block content %}
<h3 class="text-danger text-center mb-4">📊 ADMIN DASHBOARD</h3>
<div class="row text-center">
  <div class="col-md-3"><div class="card p-3"><h5>Total Donors</h5><h2 class="text-danger">{{ donors }}</h2></div></div>
  <div class="col-md-3"><div class="card p-3"><h5>Total Hospitals</h5><h2 class="text-danger">{{ hospitals }}</h2></div></div>
  <div class="col-md-3"><div class="card p-3"><h5>Total Blood Units</h5><h2 class="text-danger">{{ volume }}</h2></div></div>
  <div class="col-md-3"><div class="card p-3"><h5>Completed Donations</h5><h2 class="text-danger">{{ completed }}</h2></div></div>
</div>
<a href="/" class="btn btn-danger mt-4">⬅ Back Home</a>
{% endblock %}
