{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card p-4 shadow-sm border-0 rounded-4 mt-5">

            <h3 class="text-center text-danger fw-bold mb-3">
                🔐 Admin Login
            </h3>

            <form method="POST" action="/login">

                <label class="fw-semibold">Username</label>
                <input type="text" name="username" class="form-control mb-3"
                       placeholder="Enter username" required>

                <label class="fw-semibold">Password</label>
                <input type="password" name="password" class="form-control mb-3"
                       placeholder="Enter password" required>

                <button class="btn btn-danger w-100 fw-semibold">
                    Login
                </button>

            </form>

        </div>

        <div class="text-center mt-3">
            <a href="/" class="btn btn-outline-dark px-4">⬅ Back to Home</a>
        </div>

    </div>
</div>

{% endblock %}
